<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352863072176-pdn0ad6s2dk3isvq422mms4h2q68gijv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352863072176-pdn0ad6s2dk3isvq422mms4h2q68gijv</string>
	<key>API_KEY</key>
	<string>AIzaSyB5sGeS9xeJe5ypjkwVruqEAC9doNiqwiU</string>
	<key>GCM_SENDER_ID</key>
	<string>352863072176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bondy.app</string>
	<key>PROJECT_ID</key>
	<string>bondy-95260</string>
	<key>STORAGE_BUCKET</key>
	<string>bondy-95260.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352863072176:ios:107277f8d3a21f12813075</string>
</dict>
</plist>