<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779046204541-7tb3llksa7nn7k5a31o6l5os4g2csi38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779046204541-7tb3llksa7nn7k5a31o6l5os4g2csi38</string>
	<key>API_KEY</key>
	<string>AIzaSyBz3UnLZb8k54El7Bp_QtnPL5IpTH5BbRs</string>
	<key>GCM_SENDER_ID</key>
	<string>779046204541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBoilerplate</string>
	<key>PROJECT_ID</key>
	<string>boilerplate-afec6</string>
	<key>STORAGE_BUCKET</key>
	<string>boilerplate-afec6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779046204541:ios:052004105dd3bf14a6ed14</string>
</dict>
</plist>