<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCq1LjJ0nIME-JEy8FyoEHxkYobFNCzy2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1080153158864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.palumba.app</string>
	<key>PROJECT_ID</key>
	<string>palumba-14fae</string>
	<key>STORAGE_BUCKET</key>
	<string>palumba-14fae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080153158864:ios:8721db7d398118f8c39ad5</string>
</dict>
</plist>